
cp /etc/crontab /etc/crontab.old

 30 13 * * * sh /root/test2/3.sh
#* */2 * * * sh /root/ss.start
55 20  * * * sh /root/nginx.sh
*/10  * * * * sh /home/shell/crond/Cached.sh
00 06 * * *   nohup /usr/local/bin/ss-server -s 106.184.0.140 -p 8123 -k yO6AEnfZ -m aes-256-cfb
11 00 * * *  sh /root/eth0.sh
10 10 * * * sh /home/web/upload.sh

